@import "reset";
@import "themes/orange";
@import "themes/dark";
@import "themes/light";
@import "variables/global";


body {
  font: var(--font-m);
  color: var(--primary-color);
}

#root {
  height: 100%;
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

*::-webkit-scrollbar {
  width: 6px;
  /* ширина scrollbar */
  height: 4px;
}

*::-webkit-scrollbar-track {
  /* цвет дорожки */
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  /* цвет плашки */
  background-color: var(--inverted-primary-color);
  /* закругления плашки */
  border-radius: 20px;
  /* padding вокруг плашки */
  border: 2px solid var(--primary-color);
}