@import "reset";
@import "themes/orange";
@import "themes/dark";
@import "themes/light";
@import "variables/global";


body {
  font: var(--font-m);
  color: var(--text-color);
}

#root {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 6px;
  /* ширина scrollbar */
  height: 4px;
}

*::-webkit-scrollbar-track {
  /* цвет дорожки */
  background: var(--light-bg-color);
}

*::-webkit-scrollbar-thumb {
  /* цвет плашки */
  background-color: var(--scroll-bg-color);
  /* закругления плашки */
  border-radius: 20px;
  /* padding вокруг плашки */
  border: 1px solid var(--scroll-border-color);
}