:root {
  --font-family-main: consolas, "Times New Roman", serif;
  --font-family-text-color: 'Nunito Sans', sans-serif;
  --font-family-header-color: 'Roboto', sans-serif;

  --font-size-s: 12px;
  --font-line-s: 15px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // Размеры
  --height-navbar: 50px;
  --width-close-sidebar: 50px;

  // Z - Индексы
  --z-index-modal: 10;

  // Цвета
  --color-overlay: rgba(0 0 0 / 60%);
  --red-light-deprecated: #f00;
  --red-dark-deprecated: #ce0505;
  --color-danger-deprecated: rgb(225, 87, 86);

  // Цвета disabled
  --color-bg-container-disabled: rgba(0, 0, 0, 0.04);
  --color-text-disabled: rgba(0, 0, 0, 0.25);

  // Отступы
  --spacing: 8px;

  --responsive-desktop: 1280px;
  --responsive-tablet: 1279px;
  --responsive-phone: 575px;
  --responsive-min-desktop: 1280px;
  --responsive-min-tablet: 576px;

  --desktop-sidebar-size: 64px;
  --mobile-navbar-height: 64px;
  --mobile-header-height: 48px;
  // --mobile-viewport-height: calc(100vh - (#{--mobile-navbar-height} + #{--mobile-header-height}))

  // s
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-text-color);

  // m
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-text-color);

  // l
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-header-color);

  // xl
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header-color);
}