.Text {}

.span {}

.p {
  font-size: 11px;
  color: rgb(138, 138, 138);
}

.h1 {}

.h2 {}

.h3 {}

.h4 {}

.h5 {}


.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.red {
  color: red;
}

.white {
  color: white;
}