.wrapper {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
}

.wrapperImg {
    border-radius: 8px;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 24px;
}

.img {
    max-height: 420px;
}