.sidebar {
  position: absolute;
  height: 100%;
  width: 300px;
  background: var(--inverted-bg-color);
  padding-top: var(--height-navbar);

  transform: translateX(calc(-100% + var(--width-close-sidebar)));
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  &.open {
    transform: translateX(0%);
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .btn-burger {
    margin-left: auto;
  }

  .switchers {}
}

.linksItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;

  &.collapsed {
    align-items: flex-end;
  }
}

.bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;

  &_item {
    width: 25px;
    height: 25px;
  }

  &.collapsed {
    flex-direction: column-reverse;
    align-items: flex-end;

  }
}