.item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    height: 35px;
    transition: all 0.1s ease;
    z-index: 1;
}

.collapsed {
    padding: 0 8px;

    .link {
        opacity: 0;
        width: 0;
        margin: 0;
    }
}


.link {
    margin-left: 10px;
    opacity: 1;
}