.wrapper {
    border: 1px solid var(--primary-color);
    padding: 20px;
    position: relative;
    background-color: #fff;
}

.btn_copy {
    // background-color: #1212a1;
    position: absolute;
    right: 20px;
    top: 20px;
}