.wrapper {
  background: var(--bg-color);
  height: 100%;
  padding-top: 5%;
  padding-inline: calc(var(--spacing) * 4);
  color: var(--text-color);
}

.title {
  margin-bottom: calc(var(--spacing) * 4);
}

.subtitle {
  margin-bottom: 10px;
}

.instructions {}

.error {
  margin-bottom: var(--spacing);
}

.button {
  color: var(--save-color);

  &:hover {
    opacity: 0.8;
  }
}