* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
  font: var(--font-m);
  color: var(--text-color);
}

#scroll-layout {
  height: 100%;
  overflow: auto;
}