* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-size: 30px;
  position: relative;
}

.content-page {
  display: flex;
  margin-left: var(--width-close-sidebar);
}

.page-wrapper {
}
