.wrapper {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.tag {
    text-align: center;

    border-radius: 6px;
    background-color: #dddddd;
    border: 2px solid #dddddd;

    &.selected {
        border-color: #9d9d9d;
        background-color: #e4e4e4;
    }

    &.default {
        font-size: 12px;
        padding: 4px 12px;
        min-width: 40px;
    }

    &.small {
        font-size: 10px;
        padding: 2px 4px;
        line-height: 14px;
    }

    &.large {
        font-size: 16x;
        padding: 8px 20px;
        min-width: 60px;
    }
}