.wrapper {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.tag {
    text-align: center;

    border-radius: 6px;
    background-color: var(--inverted-bg-color);
    border: 2px solid var(--inverted-bg-color);
    color: var(--text-color);
    opacity: 0.8;

    &:hover {
        opacity: 0.7;
        border-color: var(--primary-color);
    }

    &.selected {
        border-color: var(--secondary-color);
        opacity: 1;
    }

    &.default {
        font-size: 12px;
        padding: 4px 12px;
        min-width: 40px;
    }

    &.small {
        font-size: 10px;
        padding: 2px 4px;
        line-height: 14px;
    }

    &.large {
        font-size: 16x;
        padding: 8px 20px;
        min-width: 60px;
    }
}