.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.btn {
    &-view {
        &.selected {
            color: var(--secondary-color)
        }
    }
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 14px;
}